@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphic-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.background {
  background-image: url(../../backend/uploads/picture\ 1.png);
}
